.intro {
    position: relative;
    background-image: url(../Public/Images/volunteers.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
  }
  .text{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  #header {
    text-align: center;
    color: white;
    font-size: 61px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  #explore{
    background-color: #fcfefea5;
    color: #2b461d;
    font-weight: bold;
    border-radius: 10px;
    font-size: 30px;
    padding: 30px;
    border: none;
  }
  .banner{
    background-color: #54bfc9;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;

  }
  .portion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
   .words{
    color: white;
    font-weight: bold;
    font-size: 20px;
   }
.highlights{
  margin-top: 3rem;
  margin-bottom: 3rem;
padding: 10px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.highlights h1{
 font-weight: bold;
}
hr{
  width: 90%;
  font-weight: 200;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 26px;
}

.card {
  width: calc(30% - 20px);
  margin-bottom: 20px;
  background-color: #f9f9f9a7;
  text-align: center;
}

.img {
  position: relative;
}

.img img {
  width: 100%;
}

.project {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  color: rgb(255, 250, 250);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#project1{
background-color: #7e7150b7;
}
#project2{
background-color: #ff95006d;
}
#project3{
background-color: #74a7de9b;
}
#project4{
background-color: #ff00c865;
}
#project5{
background-color: #fff700a4;
}
#project6{
background-color: #ff000080;
}
#banner1{
  background-color: orange;
  justify-content: space-between;
  padding: 15px;
  padding-right:8rem;
}
#banner1 p{
  margin-top: 15px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}
#banner1 p span{
  color: #000;
}
.intrigue{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sign{
  text-decoration: none;
  width: 100%;
  margin-left: 16rem;
}
#signUp{
border-radius: 10px;
border: none;
padding: 25px;
font-size: 20px;
font-weight: bold;
background-color: #54bfc9;
color: white;
width: 50%;
}