<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="nav.css">
    <script src="https://kit.fontawesome.com/63a82ba83f.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="intro">
   <nav>
  <div class="logo">
    <a href="/Views/main.html">
      <img width="80px" height="auto" style="z-index: 999;" src="../../Public/Images/logo.png">
    </a>
  </div>
  <div>
    <ul id="menu">
      <li><a href="/Views/Events/events.html">Our Events</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li id="signup-li" style="display: show;"><a href="/Views/Signup/signup.html" id="signup-link">Sign Up</a></li>
      <li id="login-li" style="display: show;"><a href="/Views/Login/login.html" id="login-link">Login</a></li>
      <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="text">
  <div><p id="header">Discover Your Path <br>in Making a Difference</p></div>
  
  <div><a href="/Views/Events/events.html"><button id="explore">Explore Events</button></a></div>
</div>

</div>
<div class="banner">
    <div class="portion">
        <div class="icon">
            <i class="fa-solid fa-heart fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="words">
            <p>+1000 Lives Changed</p>
        </div>
    </div>
    <div class="portion">
        <div class="icon">
            <i class="fa-solid fa-handshake fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="words">
            <p>+1000 Volunteers</p>
        </div>
    </div>
    <div class="portion">
        <div class="icon">
            <i class="fa-solid fa-lightbulb fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="words">
<p> +100 Opportunites</p>
        </div>
    </div>
</div>
<main>
    <div class="highlights">
        <h1>Highlights</h1>
        <hr>
        <div class="cards">
            <div class="card">
                <div class="img">
<img src="/Public/Images/park.jpg" alt="" width="100%">
                </div>
                <div class="project" id="project1">
                    <p>Forest Cleanup</p>
                </div>
            </div>
            <div class="card">
<img src="/Public/Images/food.jpg" alt="" width="100%">
                <div class="project" id="project2">
                    <p>Grocery Drive</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
<img src="/Public/Images/building.jpg" alt="" width="100%">
                </div>
                <div class="project" id="project5">
                    <p>Building Houses</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
<img src="/Public/Images/beachCleanup.jpg" alt="" width="100%">
                </div>
                <div class="project" id="project3">
                    <p>Beach Cleanup</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
<img src="/Public/Images/reading.jpg" alt="" width="100%">
                </div>
                <div class="project" id="project4">
                    <p>Reading Circle</p>
                </div>
            </div>
            <div class="card">
                <div class="img">
<img src="/Public/Images/painting.jpg" alt="" width="100%">
                </div>
                <div class="project" id="project6">
                    <p>Painting Buildings</p>
                </div>
            </div>
        </div>
        </div>
        <div class="banner" id="banner1">
            <div>
            <p>"No act of kindness, <br>no matter how small, <br>is ever wasted." 
                <br><span> - Aesop, The Lion and the Mouse</span></p>
            </div>
            <div class="intrigue">
               <p> <span>Start Your Journey of Kindness</span></p> <br>
              <a href="/Views/Signup/signup.html" id="sign"> <button id="signUp"> Register Today</button></a>
            </div>
        </div>
</main>
<script src="nav.js"></script>
</body>
</html>