<!DOCTYPE html>
<html>
<head>
    <title>Events Page</title>
    <script src="https://kit.fontawesome.com/63a82ba83f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="events.css">
    <link rel="stylesheet" href="../nav.css">
</head>
<style>

</style>
<body>
  <nav>
    <div class="logo">
        <a href="/Views/main.html">
            <img width="80px" height="auto" style="z-index: 999;" src="../../Public/Images/logo.png">
            
        </a>
    </div>
    <div>
        <ul id="menu">
            <li><a href="/Views/Events/events.html">Our Events</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="/Views/Signup/signup.html" id="links">Sign Up</a></li>
            <li><a href="/Views/Login/login.html" id="links">Login</a></li>
        </ul>
    </div>
</nav>
<div>
    
</div>
<main>
    <div class="left-side">

    <label for="">Want Something Specific?</label>
    <input type="search" name="" id="">


    <label for="">Search by Dates:</label>
    <label for="">Search by Dates:</label>
    <label for="">Search by Dates:</label>

    </div>
    <div class="right-side">
        <div class="cards">
            <div class="card">
                <img src="/Public/Images/food.jpg" alt="" width="100px">
                <div class="details">
                    <div class="title">
                        <h3>Food Drive</h3>
                    </div>
                    <div class="category">
                        <h4>Category</h4>
                    </div>
                    <div class="location-date">
                        <div class="location">
                            <p><i class="fa-solid fa-location-dot" style="color: #4c4c4d;"></i>Amman</p>
                        </div>
                        <div class="date">
                            <p><i class="fa-regular fa-calendar-days" style="color: #4c4c4d;"></i> Date</p>
                        </div>
                    </div>
                    <div class="description">
                        <p>The food drive will work to help others</p>
                    </div>
                    <div class="button">
                        <a href="#">View Event</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/Public/Images/food.jpg" alt="" width="100px">
                <div class="details">
                    <div class="title">
                        <h3>Food Drive</h3>
                    </div>
                    <div class="category">
                        <h4>Category</h4>
                    </div>
                    <div class="location-date">
                        <div class="location">
                            <p><i class="fa-solid fa-location-dot" style="color: #4c4c4d;"></i>Amman</p>
                        </div>
                        <div class="date">
                            <p><i class="fa-regular fa-calendar-days" style="color: #4c4c4d;"></i> Date</p>
                        </div>
                    </div>
                    <div class="description">
                        <p>The food drive will work to help others</p>
                    </div>
                    <div class="button">
                        <a href="#">View Event</a>
                    </div>
                </div>
            </div>
        </div>
</div>
</main>
      
    
</body>
</html>
  