<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Views/nav.css">
    <link rel="stylesheet" href="event.css">

</head>
<body>
    <nav>
        <div class="logo">
          <a href="/Views/main.html">
            <img width="80px" height="auto" style="z-index: 999;" src="../../Public/Images/logo.png">
          </a>
        </div>
        <div>
          <ul id="menu">
            <li><a href="/Views/Events/events.html">Our Events</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li id="signup-li" style="display: show;"><a href="/Views/Signup/signup.html" id="signup-link">Sign Up</a></li>
            <li id="login-li" style="display: show;"><a href="/Views/Login/login.html" id="login-link">Login</a></li>
            <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Logout</a></li>
          </ul>
        </div>
      </nav>
      <main id="main">
        <!-- <div class="outer">
            <div class="image">
<img src="/Public/Images/food.jpg" alt="" width="70%" height="100%">
            </div>
            <div class="details">
                <div class="title">
<h1>Food</h1>
                </div>
                   <div class="location-time">
                    <div class="row">
                        <div>
                       <p> <i class="fa-regular fa-clock fa-2xl" style="color: #000000;"></i>   
                         12:00 P.M
                        </p>
                    </div>                 
                    <div>
                        <p> <i class="fa-regular fa-calendar-days fa-2xl" style="color: #000000;"></i> 2001/11/15</p> 
                    </div>              
                    </div>              
            
                    <div class="row">
                        <div>
                        <p> <i class="fa-solid fa-location-dot fa-2xl" style="color: #000000;"></i>
                        Amman </p>  
                    </div>
                    <div>
                        <p>  <i class="fa-solid fa-user fa-2xl" style="color: #000000;"></i> 
                            20 / 30 </p> 
                  </div>
                </div>
                  </div>
                  
                <div class="description">
                    <h2>
                        
                    </h2>
This event is to aid those that need help
                </div>
                <div>
                    <button class="buttons" id="register">Register</button>
                </div>
                <div>
                    <button class="buttons" id="unregister">Unregister</button>
                </div>
            </div>
            </div>
        </div> -->
      </main>
      <script src="https://kit.fontawesome.com/63a82ba83f.js" crossorigin="anonymous"></script>
      <script src="/Views/nav.js"></script>
      <script src="event.js"></script>
</body>
</html>