public function Hi(){
  <nav>
    <div class="logo">
      <a href="/Views/main.html">
          <img width="80px" height="auto" style="z-index: 999;" src="../../Public/Images/logo.png"></a>
    </div>
<div>
    <ul id="menu">
<li><a href="/project/home/events.html">Our Events</a></li>
  <li><a href="#about">About Us</a></li>
<li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="/Views/Signup/signup.html" id="links">Sign Up</a></li>
      <li><a href="/Views/Login/login.html" id="links">Login</a></li>
    </ul>
    </div>
</nav>

}
      