<nav>
    <div class="logo">
      <a href="/Views/main.html">
        <img width="80px" height="auto" style="z-index: 999;" src="../../Public/Images/logo.png">
      </a>
    </div>
    <div>
      <ul id="menu">
        <li><a href="/Views/Events/events.html">Our Events</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li id="signup-li" style="display: show;"><a href="/Views/Signup/signup.html" id="signup-link">Sign Up</a></li>
        <li id="login-li" style="display: show;"><a href="/Views/Login/login.html" id="login-link">Login</a></li>
        <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </div>
  </nav>