<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../nav.css">
  <link rel="stylesheet" href="signup.css">



</head>

<body>
  <nav>
    <div class="logo">
        <a href="/Views/main.html">
            <img width="80px" height="auto" style="z-index: 999;" src="../../Public/Images/logo.png">
            
        </a>
    </div>
    <div>
        <ul id="menu">
            <li><a href="/Views/Events/events.html">Our Events</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="/Views/Signup/signup.html" id="links">Sign Up</a></li>
            <li><a href="/Views/Login/login.html" id="links">Login</a></li>
        </ul>
    </div>
  </nav>
  <div class="adjust">
  <div id="signup-form">
  <form id="myForm" action="" method="POST" enctype="multipart/form-data">
      <div class="page active" id="page1">
        <div class="top">       
           <h2>Create An Account</h2>
          <p>Already Have an Account? <a href="/Views/Login/login.html" id="login">Login</a></p>
  </div>
        <input type="text" id="name" name="name" placeholder="Name" autocomplete="name">

        <input type="email" id="email" name="email" placeholder="Email" autocomplete="email">
        <small id="emailValidation"></small>

        <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password">
        <small id="passwordValidation"></small>

        <input type="password" id="confirm" name="confirm" 
        placeholder="Confirm" autocomplete="confirm">
        <small id="confirmValidation"></small>

        <button id="nextButton" onclick="nextPage()">Next</button>
      </div>

      <div class="page" id="page2">
        <div class="top">
          <h2>Your Profile Details</h2>
        </div>
        <label for="file">Profile Picture</label>
        <input type="file" id="img" name="img" placeholder="Profile Image File" autocomplete="file">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="username">
        <small id="usernameValidation"></small><br>

        <label for="date_of_birth">Date of Birth</label>
        <input type="date" id="date_of_birth" name="date_of_birth" autocomplete="bday">
        <small id="dobValidation"></small>
    
        <div class="buttons">
          <div><button id="previousButton" onclick="previousPage()">Previous</button></div>
          <div><button id="submitButton" onclick="return validateForm()">Submit</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src="signup.js"></script>
</body>

</html>