
* {
    text-decoration: none;
    font-family: "poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../Public/Images/volunteers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
  }
.adjust{
  margin-top: 2.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
#login{
    text-decoration: none;
    color:#3be0e9;;
}
  
#login:hover{
    text-decoration: none;
    color: rgb(37, 104, 39);
}
  
  h2 {
      color: #e99f15;
      font-size: 24px;
  }
  .top{
    margin: 0 0 5px;
  }
       input {
          width: 358px;
          padding: 15px;
          margin-bottom: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          color: rgba(66, 65, 65, 0.796);
      }
  
    .page {
        display: none;
        display: flex;
        flex-direction: column;
      }
      
      .page.show {
        display: block;
      }
      #signup-form {
        width: 400px;
        height: 400px;
        padding: 20px;
        background-color: #fafafa;
        border-radius: 5px;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

      }
  
      .page {
        display: none;
      }
  
      .page.active {
        display: block;
      }
      
  
      #nextButton {
        width: 100%;
        padding: 10px;
        background-color:#deb214;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;


      }
      #nextButton:hover {
        background-color: #a38312;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
  
   #previousButton{
    width:100px;
    padding: 10px;
    background-color: #deb214;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
   }
   #previousButton:hover{
    background-color: #a38312;
   }
   #submitButton{
    width:200px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
   }
   #submitButton:hover{
    background-color: #4CAF50;
   }
 
      #usernameValidation,
      #emailValidation,
      #dobValidation,
      #passwordValidation {
        color: red;
        margin-bottom: 10px;
      }